<h1>Journal</h1>

<div class="container" data-controller="canvas">

  <h4>Why are you feeling this way?</h4>
  <div id="ten-countdown"></div>
  <div class="container-body">
    <div class="answers">
      <% if @mood == "happy" %>
        <%= link_to student_activities_path(student_id: @student.id, activities: :index, mood: @mood), class: "no-style" do %>
          <div class="answer" id="answer-1">
            <p>Playing with my friends and having fun together.</p>
          </div>
          <div class="answer" id="answer-2">
            <p>Learning something new and feeling proud.</p>
          </div>
          <div class="answer" id="answer-3">
            <p>Spending time with family and feeling loved.</p>
          </div>
          <div class="answer" id="answer-4">
            <p>I'm feeling creative.</p>
          </div>
        <% end %>
          <div class="answer answer-input">
            <%= form_tag student_activities_path(student_id: @student.id, activities: :index, mood: @mood), method: :GET do %>
              <label for="custom_answer">Enter your own answer:</label><br>
              <input type="text" id="custom_answer" name="custom_answer" class="journal-form"><br>
              <%= hidden_field_tag 'mood', @mood %>
              <input type="submit" value="Submit">
            <% end %>
          </div>
      <% elsif @mood == "angry" %>
        <%= link_to student_activities_path(student_id: @student.id, activities: :index, mood: @mood), class: "no-style" do %>
          <div class="answer" id="answer-1">
            <p>Feeling unfairly treated or not listened to.</p>
          </div>
          <div class="answer" id="answer-2">
            <p>Being teased or bullied by others.</p>
          </div>
          <div class="answer" id="answer-3">
            <p>Feeling scared or threatened by something or someone.</p>
          </div>
          <div class="answer" id="answer-4">
            <p>Not getting what I want or feeling frustrated.</p>
          </div>
        <% end %>
          <div class="answer answer-input">
            <%= form_tag student_activities_path(student_id: @student.id, activities: :index, mood: @mood), method: :GET do %>
              <label for="custom_answer">Enter your own answer:</label><br>
              <input type="text" id="custom_answer" name="custom_answer" class="journal-form"><br>
              <%= hidden_field_tag 'mood', @mood %>
              <input type="submit" value="Submit">
            <% end %>
          </div>
      <% elsif @mood == "neutral" %>
        <%= link_to student_activities_path(student_id: @student.id, activities: :index, mood: @mood), class: "no-style" do %>
          <div class="answer" id="answer-1">
            <p>Just woke up and haven't fully woken up yet.</p>
          </div>
          <div class="answer" id="answer-2">
            <p>Reflecting on my thoughts without experiencing strong emotions.</p>
          </div>
          <div class="answer" id="answer-3">
            <p>Waiting for something exciting to happen.</p>
          </div>
          <div class="answer" id="answer-4">
            <p>I'm in a comfortable environment where I feel safe and content.</p>
          </div>
        <% end %>
          <div class="answer answer-input">
            <%= form_tag student_activities_path(student_id: @student.id, activities: :index, mood: @mood), method: :GET do %>
              <label for="custom_answer">Enter your own answer:</label><br>
              <input type="text" id="custom_answer" name="custom_answer" class="journal-form"><br>
              <%= hidden_field_tag 'mood', @mood %>
              <input type="submit" value="Submit">
            <% end %>
          </div>
      <% elsif @mood == "sad" %>
        <%= link_to student_activities_path(student_id: @student.id, activities: :index, mood: @mood), class: "no-style" do %>
          <div class="answer" id="answer-1">
            <p>Missing someone I love or care about.</p>
          </div>
          <div class="answer" id="answer-2">
            <p>Feeling left out or lonely.</p>
          </div>
          <div class="answer" id="answer-3">
            <p>Being hurt physically or emotionally by someone.</p>
          </div>
          <div class="answer" id="answer-4">
            <p>Facing a difficult situation or change in my life.</p>
          </div>
        <% end %>
          <div class="answer answer-input">
            <%= form_tag student_activities_path(student_id: @student.id, activities: :index, mood: @mood), method: :GET do %>
              <label for="custom_answer">Enter your own answer:</label><br>
              <input type="text" id="custom_answer" name="custom_answer" class="journal-form"><br>
              <%= hidden_field_tag 'mood', @mood %>
              <input type="submit" value="Submit">
            <% end %>
          </div>
      <% elsif @mood == "devastated" %>
        <%= link_to student_activities_path(student_id: @student.id, activities: :index, mood: @mood), class: "no-style" do %>
          <div class="answer" id="answer-1">
            <p>Feeling betrayed or abandoned by someone I trust.</p>
          </div>
          <div class="answer" id="answer-2">
            <p>Experiencing a significant loss or separation.</p>
          </div>
          <div class="answer" id="answer-3">
            <p>Confronting a sudden and overwhelming change in my life.</p>
          </div>
          <div class="answer" id="answer-4">
            <p>Witnessing something traumatic or upsetting.</p>
          </div>
        <% end %>
          <div class="answer answer-input">
            <%= form_tag student_activities_path(student_id: @student.id, activities: :index, mood: @mood), method: :GET do %>
              <label for="custom_answer">Enter your own answer:</label><br>
              <input type="text" id="custom_answer" name="custom_answer" class="journal-form"><br>
              <%= hidden_field_tag 'mood', @mood %>
              <input type="submit" value="Submit">
            <% end %>
          </div>
      <% end %>
    </div>

    <div id="canvas-container">
      <h4>Draw here</h4>
      <canvas class="canvas" data-canvas-target="myCanvas"  width="600" height="400">
      </canvas>
    </div>
    </div>
  </div>



<script>
  function countdown( elementName, minutes, seconds )
{
    var element, endTime, hours, mins, msLeft, time;

    function twoDigits( n )
    {
        return (n <= 9 ? "0" + n : n);
    }

    function updateTimer()
    {
        msLeft = endTime - (+new Date);
        if ( msLeft < 1000 ) {
            element.innerHTML = "Time is up!";
        } else {
            time = new Date( msLeft );
            hours = time.getUTCHours();
            mins = time.getUTCMinutes();
            element.innerHTML = (hours ? hours + ':' + twoDigits( mins ) : mins) + ':' + twoDigits( time.getUTCSeconds() );
            setTimeout( updateTimer, time.getUTCMilliseconds() + 500 );
        }
    }

    element = document.getElementById( elementName );
    endTime = (+new Date) + 1000 * (60*minutes + seconds) + 500;
    updateTimer();
}

countdown( "ten-countdown", 0, 10 );

</script>
