<h1>Journal</h1>

<div class="container" data-controller="canvas">
  <h4>Why are you feeling this way?</h4>
  <div class="container-body">
    <div class="answers">
      <% if @mood == "happy" %>
        <%= link_to student_activities_path(student_id: @student.id, activities: :index), class: "no-style" do %>
          <div class="answer" id="answer-1">
            <p>Playing with my friends and having fun together.</p>
          </div>
          <div class="answer" id="answer-2">
            <p>Learning something new and feeling proud.</p>
          </div>
          <div class="answer" id="answer-3">
            <p>Spending time with family and feeling loved.</p>
          </div>
          <div class="answer" id="answer-4">
            <p>I'm feeling creative.</p>
          </div>
        <% end %>
      <% elsif @mood == "angry" %>
        <%= link_to student_activities_path(student_id: @student.id, activities: :index), class: "no-style" do %>
          <div class="answer" id="answer-1">
            <p>Feeling unfairly treated or not listened to.</p>
          </div>
          <div class="answer" id="answer-2">
            <p>Being teased or bullied by others.</p>
          </div>
          <div class="answer" id="answer-3">
            <p>Feeling scared or threatened by something or someone.</p>
          </div>
          <div class="answer" id="answer-4">
            <p>Not getting what I want or feeling frustrated.</p>
          </div>
        <% end %>
      <% elsif @mood == "neutral" %>
        <%= link_to student_activities_path(student_id: @student.id, activities: :index), class: "no-style" do %>
          <div class="answer" id="answer-1">
            <p>Just woke up and haven't fully woken up yet.</p>
          </div>
          <div class="answer" id="answer-2">
            <p>Reflecting on my thoughts without experiencing strong emotions.</p>
          </div>
          <div class="answer" id="answer-3">
            <p>Waiting for something exciting to happen.</p>
          </div>
          <div class="answer" id="answer-4">
            <p>I'm in a comfortable environment where I feel safe and content.</p>
          </div>
        <% end %>
      <% elsif @mood == "sad" %>
        <%= link_to student_activities_path(student_id: @student.id, activities: :index), class: "no-style" do %>
          <div class="answer" id="answer-1">
            <p>Missing someone I love or care about.</p>
          </div>
          <div class="answer" id="answer-2">
            <p>Feeling left out or lonely.</p>
          </div>
          <div class="answer" id="answer-3">
            <p>Being hurt physically or emotionally by someone.</p>
          </div>
          <div class="answer" id="answer-4">
            <p>Facing a difficult situation or change in my life.</p>
          </div>
        <% end %>
      <% elsif @mood == "devastated" %>
        <%= link_to student_activities_path(student_id: @student.id, activities: :index), class: "no-style" do %>
          <div class="answer" id="answer-1">
            <p>Feeling betrayed or abandoned by someone I trust.</p>
          </div>
          <div class="answer" id="answer-2">
            <p>Experiencing a significant loss or separation.</p>
          </div>
          <div class="answer" id="answer-3">
            <p>Confronting a sudden and overwhelming change in my life.</p>
          </div>
          <div class="answer" id="answer-4">
            <p>Witnessing something traumatic or upsetting.</p>
          </div>
        <% end %>
      <% end %>
    </div>
