<div class="welcome">
  <div class="circle">circle</div>
  <h2>Hello, <strong><%= current_student.name %></strong></h2> <!-- Add dynamic name-->
</div>
<br>
<br>
<br>
<div class="feeling "style="display:flex; flex-direction: row; justify-content: center; align-items: center">
  <h1>How are you feeling today?</h1>
</div>
<br>
<br>
<br>
<div class="emojis">
  <div class="emoji1">
    <%= link_to students_path(mood: "happy", student_id: @student.id, id: "happyLink") do %>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon
      src="https://cdn.lordicon.com/ctlnzcle.json"
      trigger="loop" delay="1000" style="width:200px;height:200px">
    </lord-icon>
    <% end %>
  </div>

  <div class="emoji2">
    <%= link_to students_path(mood: "angry", student_id: @student.id) do %>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon
      src="https://cdn.lordicon.com/cdtaelne.json"
      trigger="loop" delay="1000" style="width:200px;height:200px">
    </lord-icon>
    <% end %>
  </div>

  <div class="emoji3">
    <%= link_to students_path(mood: "neutral", student_id: @student.id) do %>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon
      src="https://cdn.lordicon.com/igfwsclw.json"
      trigger="loop" delay="1000" style="width:200px;height:200px">
    </lord-icon>
    <% end %>
  </div>

  <div class="emoji4">
    <%= link_to students_path(mood: "sad", student_id: @student.id) do %>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon
      src="https://cdn.lordicon.com/wpeowyrp.json"
      trigger="loop" delay="1000" style="width:200px;height:200px">
    </lord-icon>
    <% end %>
  </div>

  <div class="emoji5">
    <%= link_to students_path(mood: "devastated", student_id: @student.id) do %>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon
      src="https://cdn.lordicon.com/nphieykw.json"
      trigger="loop" delay="1000" style="width:200px;height:200px">
   </lord-icon>
   <% end %>
  </div>
</div>

<script>
  document.getElementById('happyLink').addEventListener('mouseenter', function(event) {
    event.preventDefault(); // Prevent the default link behavior when mouse enters the link
  });

  document.getElementById('happyLink').addEventListener('mouseleave', function(event) {
    // This function can be left empty or removed, as we want the default link behavior to resume when mouse leaves the link
  });
</script>
