
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <% if teacher_signed_in? && current_teacher.role == "teacher" && !student_signed_in?%>
       <%= link_to teacher_main_page_path, class: "navbar-brand" do %>
        <%= image_tag "buildaware_cropped.png" %>
      <% end %>
    <% elsif student_signed_in? && current_student.role == "student" || !teacher_signed_in?%>
      <%= link_to students_moods_path, class: "navbar-brand" do %>
        <%= image_tag "buildaware_cropped.png" %>
      <% end %>
    <% else %>
      <%= link_to students_moods_path, class: "navbar-brand" do %>
        <%= image_tag "buildaware_cropped.png" %>
      <% end %>
    <% end %>

    <% if student_signed_in? %>
      <%= link_to "Log out", destroy_student_session_path, data: {turbo_method: :delete}, class: "logout btn btn-outline-dark" %>
    <% elsif teacher_signed_in? %>
      <%= link_to "Log out", destroy_teacher_session_path, data: {turbo_method: :delete}, class: "logout btn btn-outline-dark" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
<%= link_to "Teacher Login", new_teacher_session_path, class: "nav-link" %>

        <!--<% if !(student_signed_in? || teacher_signed_in?) %>
          <li class="nav-item">
            <%= link_to "Student Login", new_student_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">

          </li>
        <% end %>-->

        <!--
        <% if student_signed_in? || teacher_signed_in? %>
          <li class="nav-item dropdown">
            <% if teacher_signed_in? %>
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               <%= current_teacher.name %>
              </a>
            <% end %>
            <% user = student_signed_in? ? current_student : current_teacher %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if teacher_signed_in? %>
                <%= link_to "Mood Summary", "#", class: "dropdown-item" %>
                <%= link_to "Classroom detail",  "#", class: "dropdown-item" %>
              <% end %>
              <%= link_to "Log out", student_signed_in? ? destroy_student_session_path : destroy_teacher_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% end %> -->
      </ul>
    </div>
  </div>
</div>
</div>
