<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <!-- Home link -->
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>

        <!-- Student Login -->
        <li class="nav-item">
          <%= link_to "Student Login", new_student_session_path, class: "nav-link" %>
        </li>

        <!-- Teacher Login -->
        <li class="nav-item">
          <%= link_to "Teacher Login", new_teacher_session_path, class: "nav-link" %>
        </li>

        <!-- Logout dropdown -->
        <% if student_signed_in? || teacher_signed_in? %>
          <li class="nav-item dropdown">
            <% if student_signed_in? %>
              <% user = current_student %>
            <% else %>
              <% user = current_teacher %>
            <% end %>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <% if student_signed_in? %>
                <%= link_to "Log out", destroy_student_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              <% else %>
                <%= link_to "Log out", destroy_teacher_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
