<div class="arrow">
  <%= link_to  mood_summary_teacher_classroom_path(@classroom), class: "arrow_image" do %>
  <%= image_tag "arrow2.png" %>
  <% end %>
</div>

<div class="title">
  <h2>Classroom Details</h2>
</div>

<div class="description">
  <p>View all student moods and activities</p>
</div>


<div class="classroom d-flex justify-content-center">
  <table class="classroom-table table-bordered w-75 mt-5">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Moods</th>
      <th>Moods Created At</th>
      <th>Activities</th>
      <th>Activities Created at</th>
    </tr>
  </thead>
    <% @students.each do |student| %>
    <tr>
        <td><%= student.name %></td>
        <td><%= student.age %></td>
        <td>
          <% student.student_moods.last(2).each do |mood| %>
            <p><%= mood.mood.mood %></p>
          <% end %>

        </td>
        <td>
          <% student.student_moods.last(2).each do |student_mood| %>
            <p><%= student_mood.created_at.strftime('%A, %Y-%m-%d %H:%M:%S') %></p>
          <% end %>
        </td>
        <td>
          <% student.student_activities.last(2).each do |activity| %>
            <p><%= activity.activity.description %></p>
          <% end %>
        </td>
        <td >
          <% student.student_activities.last(2).each do |student_activity| %>
            <p><%= student_activity.created_at.strftime('%A, %Y-%m-%d %H:%M:%S')  %></p>
          <% end %>
        </td>

      <% end %>
    </tr>
  </table>
</div>

<!--
<div class="mt-3">
    <%= link_to "Back to Mood Summary", mood_summary_teacher_classroom_path(@classroom), class: "btn btn-primary" %>
 </div>-->
