<!DOCTYPE html>
<html>
  <head>
    <title>BuildAware</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="turbo-prefetch" content="false">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://www.gstatic.com/charts/loader.js' %>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>

  </head>

  <body>
    <!-- render "shared/navbar" -->
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
